@using Microsoft.AspNetCore.Identity
@inject SignInManager<Timesheet.Models.Entities.User> SignInManager
@inject UserManager<Timesheet.Models.Entities.User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="count-particles">
    <span class="js-count-particles"></span>
</div>
<div id="particles-js">

    <div class="text-center">
        <br>
        <br>
        <h3>
            Hello
            @{
                @User.Identity.Name
            }
        </h3>
        <br>
        <h2>Welcome to <b>Timesheet</b>!</h2>
    </div>
</div>
<script src="~/lib/particles/particles.js"></script>
<script src="~/lib/particles/js/app.js"></script>
